.about-heading {
  height: 30%;
}

.about-heading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #7c54d3;
  background-color: #7c54d3;
  border-radius: 10px;
  color: #eee;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.about-content {
  height: 68%;
  color: #7c54d3;
}

.toolkit-box {
  padding-right: 25px;
}

.my-card {
  padding-left: 0;
  padding-right: 0;
  padding-top: 3%;
  border: 2px solid #7c54d3;
  border-radius: 5px;
  margin: 5% 0;
}

.about-list {
  font-size: 1.2em;
  text-align: left;
}

.about-list li {
  margin-bottom: 4%;
}

.about-list i {
  padding-top: 3%;
}
