<div class="component-wrapper">
  <div class="container-fluid full-height">
    <div class="row about-heading">
      <div class="col-8 offset-2 about-heading-box">
        <span>
          I craft customized, responsive web spaces. I value quality storytelling, and I strive to tell yours with honor and grace.
        </span>
      </div>
    </div>
    <div class="row about-content">
      <div class="col-sm-5 offset-sm-1 toolkit-box">
        <div class="row">
          <div class="col-12 center-text">
            <h3>Toolkit</h3>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-6 col-lg-4 center-text">
                <div class="my-card">
                  <img
                    class="img-responsive"
                    src="../../assets/img/angular-logo.png"
                    alt="Angular logo"
                    aria-hidden="true"
                  >
                  <p>Angular</p>
                </div>
              </div>
              <div class="col-6 col-lg-4 center-text">
                <div class="my-card">
                  <img
                    class="img-responsive"
                    src="../../assets/img/react-logo.png"
                    alt="React logo"
                    aria-hidden="true"
                  >
                  <p>React</p>
                </div>
              </div>
              <div class="col-6 col-lg-4 center-text">
                <div class="my-card">
                  <img
                    class="img-responsive"
                    src="../../assets/img/redux-logo.png"
                    alt="Redux logo"
                    aria-hidden="true"
                  >
                  <p>Redux</p>
                </div>
              </div>
              <div class="col-6 col-lg-4 center-text">
                <div class="my-card">
                  <img
                    class="img-responsive"
                    src="../../assets/img/express-logo.png"
                    alt="Express.js logo"
                    aria-hidden="true"
                  >
                  <p>express.js</p>
                </div>
              </div>
              <div class="col-6 col-lg-4 center-text">
                <div class="my-card">
                  <img
                    class="img-responsive"
                    src="../../assets/img/node-logo.png"
                    alt="node.js logo"
                    aria-hidden="true"
                  >
                  <p>node.js</p>
                </div>
              </div>
              <div class="col-6 col-lg-4 center-text">
                <div class="my-card">
                  <img
                    class="img-responsive"
                    src="../../assets/img/mongodb-logo.png"
                    alt="MongoDB logo"
                    aria-hidden="true"
                  >
                  <p>MongoDB</p>
                </div>
              </div>
              <div class="col-6 col-lg-4 center-text">
                <div class="my-card">
                  <img
                    class="img-responsive"
                    src="../../assets/img/js-logo.png"
                    alt="JavaScript logo"
                    aria-hidden="true"
                  >
                  <p>JavaScript</p>
                </div>
              </div>
              <div class="col-6 col-lg-4 center-text">
                <div class="my-card">
                  <img
                    class="img-responsive"
                    src="../../assets/img/html-logo.png"
                    alt="HTML5 logo"
                    aria-hidden="true"
                  >
                  <p>HTML5</p>
                </div>
              </div>
              <div class="col-6 col-lg-4 center-text">
                <div class="my-card">
                  <img
                    class="img-responsive"
                    src="../../assets/img/css-logo.png"
                    alt="CSS3 logo"
                    aria-hidden="true"
                  >
                  <p>CSS3</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="row">
          <div class="col-12 center-text">
            <h3>You Should Know</h3>
            <ul class="about-list fa-ul">
              <li>
                <i class="fa-li fa fa-share"></i>
                I fear robotic warfare but beckon the robotic athletics boom the arms race will yield.
              </li>
              <li>
                <i class="fa-li fa fa-share"></i>
                My interest in fantasy sports dwarfs my interest in sports proper.
              </li>
              <li>
                <i class="fa-li fa fa-share"></i>
                Many different games give many different peoples a reason to live.
              </li>
              <li>
                <i class="fa-li fa fa-share"></i>
                The DOM is mightier than the bomb.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
