h3 {
  color: #7c54d3;
  font-weight: 500;
}

label, input, textarea, button {
  display: block;
}

label {
  margin-bottom: 0;
}

form {
  width: 50%;
}

input, textarea {
  margin-bottom: 1em;
  width: 100%;
  border-color: #7c54d3;
  border-radius: 10px;
  border-width: 2px;
  padding: 5px;
}

input:focus, textarea:focus {
  outline: none;
}

.header-space {
  height: 5vh;
}

.form-space {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-purple {
  background-color: #7c54d3;
  color: #eee;
}

.btn:hover {
  cursor: pointer;
}
