<div class="component-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 form-space">
        <h3>Contact Meh!</h3>
        <form action="https://www.enformed.io/c1eurfcj" method="POST">
          <label>Email:</label>
          <input type="email" name="email" placeholder="Your email" class="form-control" />
          <label>Subject:</label>
          <input type="text" name="subject" placeholder="Subject" class="form-control" />
          <label>Message:</label>
          <textarea type="text" name="message" rows="8" placeholder="Your message" class="form-control"></textarea>
          <button type="submit" class="btn btn-purple margin-center">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
