<div class="component-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 form-space">
        <h3>Contact Meh!</h3>
        <form method="POST" action="http://formspree.io/christopherperkins.512@gmail.com">
          <label>Email:</label>
          <input type="email" name="email" placeholder="Your email">
          <label>Subject:</label>
          <input type="text" name="_subject" placeholder="Subject" />
          <label>Message:</label>
          <textarea name="message" rows="8" placeholder="Your message"></textarea>
          <button type="submit" class="btn btn-purple margin-center">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
