<div class="component-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div id="work" class="col-12">
        <h3>My Work</h3>
        <ul class="work-list">
          <li *ngFor="let project of projects" class="workbook-link">
            <a href={{project.link}}>
              <div class={{project.bannerClass}} title={{project.title}}>
                <div class="banner-text">
                  <h3>{{project.name}}</h3>
                  <p>{{project.description}}</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
