#work {
  padding-top: 5%;
  font-family: 'Open Sans', sans-serif;
}

#work h3 {
  text-align: center;
}

#work > h3 {
  color: #7c54d3;
  font-weight: 500;
}

.work-banner {
  height: 300px;
  width: 90%;
  margin: 3% auto 0 auto;
  border-radius: 20px;
  border: 2px solid #7c54d3;
}

.work-list {
  list-style: none;
  padding-left: 0;
}

.work-list a {
  text-decoration: none;
}

.work-list a:hover {
  text-decoration: none;
}

.twitchmore-banner {
  background-image: url("../../assets/img/workbanners/twitchmore.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.gist-banner {
  background-image: url("../../assets/img/workbanners/gistbanner.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.foundry-banner {
  background-image: url("../../assets/img/workbanners/foundrybanner.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.rerm-banner {
  background-image: url("../../assets/img/workbanners/rermbanner.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.banner-text {
  opacity: 0;
  text-align: center;
  color: #eee;
  padding-top: 15%;
}

.banner-text h3 {
  font-size: 1.2em;
}

.banner-text p {
  margin: 1% auto 0 auto;
  font-size: 1em;
  width: 80%;
}

.work-banner:hover {
  background-blend-mode: multiply;
  background-color: #555;
}

.work-banner:hover .banner-text {
  opacity: 1;
}
