<!--The content below is only a placeholder and can be replaced.-->
<div class="app-wrapper">
  <div class="container-fluid no-padding">
    <div class="row no-gutters">
      <div class="col-sm-3 hidden-xs-down">
        <div id="sidebar" class="row">
          <div class="col-12">
            <sidebar></sidebar>
          </div>
        </div>
      </div>
      <div id="mobile-sidebar" class="col-12 hidden-sm-up no-gutters mobile-sidebar">
        <div *ngIf="displaySidebar" class="row nav-hidebutton-row">
          <button type="button" class="btn btn-default btn-hamburger" (click)="hideNavMenu()">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <sidebar (notifyHideSidebar)="onNotifyHideSidebar($event)"></sidebar>
      </div>
      <div class="col-12 hidden-sm-up no-gutters">
        <div *ngIf="!displaySidebar" class="col-12 hidden-sm-up nav-revealbutton-row">
          <button type="button" class="btn btn-default btn-hamburger" (click)="revealNavMenu()">
            <i class="fa fa-bars"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
