html {
  font-family: 'Open Sans', sans-serif;
}

.app-wrapper {
  height: 100vh;
  width: 100%;
}

.component-wrapper {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.center-text {
  text-align: center;
}

.container-fluid.no-padding {
  padding-left: 0;
  padding-right: 0;
}
