<div class="container-fluid sidebar-container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <a routerLink="/" [routerLinkActive]="['active-link']"><h3>{{title}}</h3></a>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-12">
          {{subtitle}}
        </div>
      </div> -->
      <div class="row">
        <div class="col-8 margin-center">
          <div class="list-group nav-links">
            <a routerLink="/work" class="list-group-item margin-center" [routerLinkActive]="['active-link']">
              <span class="margin-center">{{linkText[0]}}</span>
            </a>
            <a routerLink="/about" class="list-group-item margin-center" [routerLinkActive]="['active-link']">
              <span class="margin-center">{{linkText[1]}}</span>
            </a>
            <!-- <li>
              <a>{{linkText[2]}}</a>
            </li> -->
            <a routerLink="/contact" class="list-group-item margin-center" [routerLinkActive]="['active-link']">
              <span class="margin-center">{{linkText[3]}}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="socialicons center-text">
            <!-- <a href="mailto:christopherperkins.512@gmail.com"><i class="fa fa-envelope fa-2x" title="Email" aria-hidden="true"></i></a> -->
            <a href="https://www.linkedin.com/in/christopher-perkins-28a79445"><i class="fa fa-linkedin fa-2x" title="LinkedIn" aria-hidden="true"></i></a>
            <a href="https://github.com/chrisperk/"><i class="fa fa-github fa-2x" title="GitHub" aria-hidden="true"></i></a>
            <a href="https://twitter.com/theperkness"><i class="fa fa-twitter fa-2x" title="Twitter" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
